<div class="container">
    <nav class="menuNav">
        <ul class="lineMenu">
            <a class="link" href="/"><img class="imgIcone" alt="" src=""/><h2 class="">Home</h2></a>
        </ul>
        <ul class="lineMenu">
            <a class="link" href="/lista"><img class="imgIcone" alt="" src=""/><h2 class="">Lista</h2> </a>
        </ul>
        <ul class="lineMenu">
            <a class="link" href="/cadastro"><img class="imgIcone" alt="" src=""/><h2 class="">Registrar</h2> </a>
        </ul>
    </nav>
</div>