.menuNav{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    background-color: #49b6ff;

    .lineMenu{
        display: flex;
        cursor: pointer;
        margin: 0 10px;

        .link{
            display: flex;
            text-align: center;
            text-decoration: none;
            color: black;
            padding: 2px 0;
            transition: color .7s ease, border-bottom .1s ease;

            h2{
                width: 120px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                align-content: center;
            }
        }

        .link:hover{
            color: rgb(201, 233, 255);
        }
    }
}