<div class="container">
    <nav class="menuNav">
        <ul class="lineMenu">
            <a class="link" href="/"><img class="imgIcone" alt="" src=""/><h2 class="">Home</h2></a>
        </ul>
        <ul class="lineMenu">
            <a class="link" href="/sobre"><img class="imgIcone" alt="" src=""/><h2 class="">Sobre</h2> </a>
        </ul>
        <ul class="lineMenu">
            <a class="link" href="/contato"><img class="imgIcone" alt="" src=""/><h2 class="">Contato</h2> </a>
        </ul>
    </nav>
</div>